/*body {
    width: 62.5%;
}
*/
.main{ 
	max-width: 600px;
	margin: 0 auto; 
}

.main img {
	display: block;
	padding-top: 115px;
	width: 272px; 
	height: 92px; 
	margin: 100px auto 0px auto;
}

#text{ 
    display: block;
    width: 400px;
    border: 1px solid #00688B;
    padding: 9px 12px;
    margin: 25px auto;
}

div.buttons{
	width: 400px;
	margin: 0 auto;
	padding-left: 80px; 
}

.buttons input{
	background-color: #f2f2f2;
	border: none;
    color: #556166;
    padding: 9px;
    font-weight: bold; 
    font-size: .8em; 
    line-height: 27px; 
    font-family: arial, sans-serif; 
    width: 130px;
    margin: 0 1em;
}

nav, footer{
	margin: 0 auto;
	width: 100%;
}

ul { 
	list-style: none; 
	margin: 0 auto;
 }

 li { 
 	display: inline-block;
	vertical-align: top;
	text-decoration: none; 
 }

nav>ul{
	text-align: right;
}

nav li, nav li.images, nav li.gmail{
	color: grey; 
	padding: 5px;
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

footer { 
	background-color: #F2F2F2; 
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	padding-top: 7px; 
	padding-bottom: 7px; 
	color: #666666;
}

#footerlist>li {
	color: #666666; 
}