body {
  /*max-width: 600px;*/
    /*margin: 0 auto;*/
    width = 62.5%; 
}

.main{ 
	max-width: 600px;
	margin: 0 auto; 
}

img {
	display: block;
	padding-top: 115px;
	width: 272px; 
	height: 92px; 
	margin: 0 auto;
}

#text{ 
    display: block;
    width: 400px;
    border: 1px solid #00688B;
    padding: 9px 12px;
    margin: 25px auto;
}

div.buttons{
	width: 400px;
	margin: 0 auto;
	padding-left: 80px; 
}

.buttons input{
	background-color: #f2f2f2;
	border: none;
    color: #556166;
    padding: 9px;
    font-weight: bold; 
    font-size: .8em; 
    line-height: 27px; 
    font-family: arial, sans-serif; 
    width: 130px;
    margin: 0 1em;
}

nav{
	margin: 0 auto;
	width: 100%;
}

nav ul{
	list-style: none; 
	text-align: right;
	margin: 0 auto;
}

nav li{
	display: inline-block;
	vertical-align: top;
}

.apps img{
	height: 18px; 
	width: 18px;
}