body {
  /*max-width: 600px;*/
    /*margin: 0 auto;*/
    width = 62.5%; 
}

.main{ 
	max-width: 600px;
	margin: 0 auto; 
}

img {
	display: block;
	padding-top: 115px;
	width: 272px; 
	height: 92px; 
	margin: 0 auto;
}

#text{ 
    display: block;
    width: 400px;
    border: 1px solid #00688B;
    padding: 9px 12px;
    margin: 25px auto;
}

div.buttons{
	width: 400px;
	margin: 0 auto;
}


.buttons input{
	background-color: #e1e8ea;
    color: #556166;
}